* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #ebd4d4;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
  color:inherit;
  cursor: pointer;
}
button{
  font-size: inherit;
  padding: 5px;
  border-radius: 10px;
  border: none;
}
button:active{
  border: 1px solid grey;
}
header{
  background-color: #000000;
  color: #ebd4d4;
  display: flex;
  padding: 15px;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav{
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#hellomsg{

  font-family: 'Source Code Pro', monospace;
}
#mainContent{
  padding: 20px;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
main{
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;

}

footer{
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}
#bodyAbout{
  background-color: none  ;
  background-image: url("")
}
.education ul{

  list-style: none;
}
#aboutmain{
  height: 80%;
}
#contactmain{
  height: 69%;
  justify-content: space-evenly;
}
#myform{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5em;

}
#myform div{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  justify-content: space-between;
  width: 100%;
}
#myform input{
  width: 70%;
  padding: 3px;
  border: none;
  font-size: inherit;
}